.page {
  &__heading {
    background: #fff;
    padding: 12px 16px;
    margin-bottom: 16px;
    text-align: center;
    vertical-align: middle;
  }

  &__subheading {
    position: relative;
    top: -2px;
    margin-left: 8px;
    font-size: 1.1rem;
    font-weight: normal;
  }

  &__posts {
    position: relative;
    min-height: 400px;

    &__loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;

      svg {
        position: absolute;
        left: 50%;
        top: 100px;
        margin-left: -25px;
      }
    }
  }
}
